<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/thankyou.css" />
    <title>Thank you!</title>
  </head>
  <body>
    <div class="thankyoucontent">
      <div class="wrapper-1">
        <div class="wrapper-2">
          <img
            src="https://i.ibb.co/Lkn7rkG/thank-you-envelope.png"
            alt="thank-you-envelope"
          />
          <h1>Thank you!</h1>
          <p>for contacting us, we will reply promptly</p>
          <p>once your message is received.</p>
          <button class="go-home">
            <a href="dashboard"> home page</a>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
