body {
  margin: 0;
  padding: 0;
}

#main {
  width: 98%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  text-align: center;
}

textarea {
  max-width: 800px;
  max-height: 300px;
  font-size: 20px;
}
