#main {
  width: 98%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  text-align: center;
}
.container {
  width: 240px;
  height: 30vh;
  margin-bottom: 270px;
}

#box {
  position: relative;
  margin-top: 20px;
  left: 103px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.box {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 30vh;
  margin-right: 10px;
  margin-bottom: 20px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.textover {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 900;
  flex-wrap: wrap;
  align-content: stretch;
  background-color: whitesmoke;
}
